
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>学号</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>孙小双</td>
            <td>29</td>
            <td>sunxiaoshuang</td>
        </tr>
        <tr>
            <td>2</td>
            <td>李怡然</td>
            <td>29</td>
            <td>liyiran</td>
        </tr>
        <tr>
            <td>3</td>
            <td>李娟娟</td>
            <td>28</td>
            <td>lijuanjuan</td>
        </tr>
    </tbody>
</table>
<div ></div>