<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ShareData" value="{ 1: '_22_享元模式.Demo.Student', 2: '_22_享元模式.Demo.Teacher', 3: '_22_享元模式.Demo.Doctor' }"/>
  </appSettings>
</configuration>