<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8801/UserService" binding="basicHttpBinding"  contract="Services.IUser" name="myConfig"></endpoint>
    </client>
  </system.serviceModel>
</configuration>